<div class="container">
  <div class="mt-5">
    <div class="col-12 col-md-6 col-lg-8 mx-auto">
      <h1>Introduction</h1><br>

      <p>I don't know if you've ever noticed the thing I'm going to deliver, but on my learning journey
        about anything my brain was forced to pay attention to, it's one of the most wonderful features of
        life.<br><br>Since the earliest days of human existence, structures have been made to provide shelter, warmth,
        refuge and privacy, and to facilitate worship, work and social interaction. In this respect, little has changed
        - but in terms of development, expression, interpretation and style, everything is in constant flux. This is
        what makes architecture so fascinating: although our essential requirements barely alter, different times,
        places and cultures have produced hugely varied buildings.<br><br>The factors behind this variety include
        religious beliefs, availability of materials, variation in climate, limits of technology and economic systems.
        Among the most enduring works of architecture are castles palaces and cathedrals, many of which are physical
        proof of technological progress. Buildings are not just about the way they look; they are also about how they
        function, their practicality, construction, decoration, and how they fit into the landscape.<br><br>These are
        all the interesting stuff from the "Architecture in Minutes" book that I have an opportunity to skim through. It
        introduces some of the greatest architectural achievements of humankind. From the mysterious megaliths and
        spectacular pyramids of the ancient world, to the formidable fortresses and soaring Gothic churches of medieval
        Europe, and from elegant pagodas and magnificent mosques and palaces, to intricate urban developments and
        towering skyscrapers.<br><br>They survey ideas, innovations, and ingenuity. Also, taking into account society's
        changing requirements and expectations, as well as many of the architects who, through their knowledge of
        construction methods and materials and their understanding of proportion, aesthetics and local environments,
        have created unique and original buildings, instigating further change and developments over time.</p>
    </div>
  </div>
</div>